@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/chat/main.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/chat/option_name.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/chat/fix_freeze.css");

.MuiList-root>div:nth-child(1)>div>div:nth-last-child(-n+3)>div {
    display: flex !important;
}
.MuiList-root>div:nth-child(1)>div>div>div:nth-last-child(-n+3) {
    display: block !important;
}

:root {
  --background-padding: 0;
  --font-color-fail: rgb(245, 0, 87);
  --font-color-success: rgb(33, 150, 243);
  --font-size: 1.3rem;
  --width:     ;
}

/**************************
　各種調整
**************************/
/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow:auto;/*★はみ出したテキスト非表示「…」hidden*/
}
.MuiListItemText-root {
  overflow: hidden; /*はみ出したテキスト非表示「…」*/
}
p.MuiTypography-root {
  display: -webkit-box;/*はみ出したテキスト非表示「…」*/
}
/*チャット 名前と時間*/
.MuiListItemText-primary {
  font-size: var(--font-size)
  /*display: none;*/
}
/*★タブの背景色★*/
.MuiTabs-flexContainer{
    background:#000;
}
/*★選択してないタブの文字の不透明度★*/
.MuiButtonBase-root:not(.Mui-selected) {
    opacity: 0.2;
}
